@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #C4E9C1;
}

h1{
    text-transform: uppercase;
}

#player-selection-modal{
    position: fixed;
    background-color: #C4E9C1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#player-selection-modal h1{
    color: #35A2E1;
    padding: 20px;
    font-size: 3rem;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}

form input{
    padding: 20px;
    width: 20%;
    margin: 6px auto 40px auto;
    font-size: 1.3rem;
}

form button{
    width: 10%;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #FF6C6C;
    border: none;
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.8);
}

form button:hover{
    cursor: pointer;
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.5);
}


.winner-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%,.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner-modal p{
    background-color: #35A2E1;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 30%;
    padding: 60px;
    text-align: center;
}

.winner-modal button{
    padding: 40px;
    font-size:2rem;
    font-weight: bold;
    background-color: #FF6C6C;
    color: black;
}

.winner-modal button:hover{
    cursor: pointer;
    background-color: #d71212;
}

.hidden#player-selection-modal,.hidden.winner-modal{
    display: none;
}

.game-grid{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.game-grid, .game-grid > div {
    border: 1px solid black ;
}

#player-2-header {
    color: #35A2E1;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container button{
    padding: 10px;
    font-weight: bold;
    background-color: #FF6C6C;
    border: none;
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.8);
}

.container button:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.5);
}

.space {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

